# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon

# macOS Thumbnails
._*

# macOS Directory files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# Compiled AutoHotkey files
*.exe

# Hammerspoon compiled files
*.dylib
